@charset "utf-8";
@import "variable";

/* 修改默认样式 */

body {
    background: #F2F2F2;
    font-size: 15px;
}

ul,
ol,
dl,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-sub {
    position: relative;
    margin: 5px auto;
    background: #fff;
}

.mui-bar-nav.mui-bar .mui-icon.my-icon-mod {
    margin-left: 0;
    color: #fff;
}

.mui-bar.mui-bar-nav.my-head-bg {
    background: $baseColor;
}

.mui-search .my-input-bg {
    background: #fff;
    color: #333;
}

.mui-slider-indicator .mui-indicator {
    //  width: 10px;
    //  height: 10px;
}

.mui-grid-view.mui-grid-9 {
    background: #fff;
    border-left: 0;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell.my-table-mod {
    border: 0;
    background: #fff;
    padding: 4px 15px;
}

.my-title-homepage {
    height: $titleHeight + 6;
    line-height: $titleHeight + 4;
    padding-left: 10px;
    margin-bottom: 0;
    background-color: #fff;
    color: #222;
    .title-left {
        padding-left: 8px;
        border-left: 3px solid $baseColor;
    }
    .title-right {
        float: right;
        margin-right: 5px;
    }
    .mui-icon.my-icon-refresh {
        font-size: 20px;
    }
}

.border-btm {
    border-bottom: 1px solid #eee;
}

.my-btn-a {
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 0 8px;
    color: $baseColor;
    border: 1px solid $baseColor;
    border-radius: 3px;
    font-size: 13px;
    height: $titleHeight + 4;
    line-height: $titleHeight + 4;
    transform: translateY(-50%);
}

.mui-ellipsis.my-elli-width {
    width: 80%;
    font-size: 12px;
}

.mui-row {
    overflow: hidden;
    .my-col-height {
        height: 240px;
    }
    .sub-col-height {
        height: 120px;
    }
    dl {
        //      position: relative;
        height: 100%;
    }
    dt {
        padding-left: 8px;
        height: 20%;
    }
    dd {
        height: 80%;
    }
    .game-title {
        margin: 5px 0 0;
        font-weight: bold;
    }
    .game-title2 {
        margin: 5px 0 0;
        font-weight: bold;
        font-size: 12px;
    }
    .game-info {
        margin: 0;
        font-size: 12px;
    }
    .rt-down-corner {
        position: absolute;
        right: 5px;
        bottom: -8px;
        width: 75%;
        height: 75%;
    }
    .lf-up-corner {
        position: absolute;
        top: 8px;
        left: 0;
        z-index: 1;
    }
    img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}

.guess-line {
    text-align: center;
    b {
        position: relative;
        top: -5px;
        display: inline-block;
        width: 33%;
        border-bottom: 1px solid #ddd;
    }
    .guess-text {
        display: inline-block;
        margin: 0 5px;
        color: #888;
    }
}

.mui-control-content {
    background-color: white;
    min-height: 215px;
}

.mui-control-content .mui-loading {
    margin-top: 50px;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: $baseColor;
    border-bottom-color: $baseColor;
}

.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar {
    background: $baseColor;
}

.mui-scroll {
    top: 1px;
}

.mui-slider-indicator .mui-icon {
    line-height: 1;
    width: auto;
    height: auto;
    border: 0;
}

.mui-table-view-cell {
    .gm-gold-title {
        width: 76%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $c4;
    }
    .gm-gold-money {
        position: absolute;
        top: 11px;
        right: 15px;
        color: $baseColor;
        b {
            display: block;
            text-align: center;
            padding: 0 5px;
            font-size: 12px;
            font-weight: normal;
            border: 1px solid $btnBlueColor;
            color: $btnBlueColor;
            border-radius: 3px;
            transform: scale(0.9);
        }
    }
    .gm-account-title {
        width: 75%;
        height: 44px;
        overflow: hidden;
        color: $c4;
    }
    .gm-com-info {
        font-size: 12px;
        color: $c8;
    }
}

.color-orange {
    color: orange;
}

.color-green {
    color: green;
}

.color-blue {
    color: blue;
}

//发现页面的自定义样式

